.contact_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact_icon {
    width: 30%;
    align-items:center;
    justify-content:center;
}

.contact_icon_link {
    max-width: 100%;
    padding: 0;
}