.nav_bar, .experience_page_content, .experience_text_extended {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.experience_text_extended {
    width: 80%
}

.experience_page_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    gap: 40px; 
}

.experience_page_text {
    width: 50%; 
    overflow: visible;
}

.experience_page_image {
    width: 25%;
    padding-top: 5%;
}

.window {
    width: 100%;
    height: auto;
}

body {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
