.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #004aad;
  }
  
  .nav_bar li {
    float: right;
  }

  .nav_bar li.left {
    float: left;
  }

  .nav_bar a {
    display: block;
    font-family: "Poppins";
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav_bar a.addie_font {
    display: block;
    font-family: "Homemade Apple";
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav_bar a:hover:not(.active) {
    background-color: #003d8d;
  }
  
  .nav_bar a.active {
    color: white;
    background-color: #003d8d;
  }
